@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body, html {
    height: 100%;
}
label{
    font-family: 'Open Sans';
    color: white;
}

body {
    font-family: 'Open Sans';
    font-weight: 100;
    display: flex;
    overflow: hidden;
    background-color: lavender;
}
input {
    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.70);
    }
    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.70);
    }
    :-ms-input-placeholder{
        color: rgba(255, 255, 255, 0.70);
    }
    &:focus {
        outline: 0 transparent solid;
        ::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
        ::-moz-placeholder {
            color: rgba(0, 0, 0, 0.7);
        }
        :-ms-input-placeholder{
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.login-form {
    background: #dcd7d7;
    box-shadow: 0 0 1rem rgba(167, 155, 155, 0.3);
    min-height: 10rem;
    margin: auto;
    max-width: 50%;
    padding: .5rem;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}
.login-text {
    background: hsl(40,30,60);
    border-bottom: .5rem solid white;
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
    .fa-stack-1x {
        color: black;
    }
}

.login-username,
.login-password,
.login-firstname,
.login-lastname,
.login-email,
.login-other,
.report-button {
    border: 1px solid white;
    background: transparent;
    color: white;
    margin: 1rem;
    padding: .5rem;
    width: calc(50% - 3rem);
    transition: 250ms background ease-in, 250ms box-shadow ease-in;
    box-sizing: border-box;
}

.login-username,
.login-password,
.login-firstname,
.login-lastname,
.login-email,
.report-button {
    width: calc(50% - 3rem);
}

.login-other {
    width: auto;
}


.login-username,
.login-password,
.login-firstname,
.login-lastname,
.login-email {
    float: left;
}

.login-forgot-pass {
    border-bottom: 1px solid white;
    bottom: 0;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 75%;
    left: 0;
    opacity: 0.6;
    padding: .5rem;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    &:hover {
        opacity: 1;
    }
}
.login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
    &:hover, &:focus {
        background: white;
        color: black;
        transition: 250 ms background ease-in;
    }
}

[class*underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}
underlay-photo {
    animation: hue-rotate 6s infinite;
    background: url('https://w7.pngwing.com/pngs/178/595/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png');
    background-size: cover;
    -webkit-filter-: grayscale(30%);
    z-index: -1;
}
.underlay-black {
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

input,
.login-submit,
.report-button {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in, 250ms box-shadow ease-in; /* Agrega la transición para box-shadow */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

input:hover,
.login-submit:hover,
.report-button:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Ajusta según sea necesario */
}

.login-other,
.report-button {
    float: right;
}

.login-username,
.login-password,
.login-firstname,
.login-lastname,
.login-email,
.login-other,
.report-button {
    align-self: flex-start;
}

.login-other select {
    border: 1px solid white;
    background: transparent;
    color: white;
    margin: 1rem;
    padding: .5rem;
    width: calc(50% - 3rem);
    transition: 250ms background ease-in, 250ms box-shadow ease-in;
    box-sizing: border-box;
}

.login-other select:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

option {
    border: 1px solid white;
    background: transparent;
    color: rgb(0, 0, 0);
    margin: 1rem;
    padding: .5rem;
    width: calc(50% - 3rem);
    transition: 250ms background ease-in, 250ms box-shadow ease-in;
    box-sizing: border-box;
}

option:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@keyframes hue-rotate {
    from {
        -webkit-filter-:grayscale(30%) hue-rotate(0deg);
    }
    to {
        -webkit-filter-:grayscale(30%) hue-rotate(360deg);
    }
}