<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestafacil</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <% if (error) { %>
        <h1 class="fa fa-lock fa-stack-1x"><%= error %>!</h1>
      <% } %>

<form class="login-form" action="/createUser" method="post">
    <p class="login-text">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
        </span>
    </p>
    <input type="text" class="login-other" name="name" required="true" placeholder="Nombre" />
    <input type="text" class="login-other" name="lastname" placeholder="Apellido" />
    <input type="text" class="login-other" name="id" required="true" placeholder="Cedula" />
    <input type="text" class="login-other" name="phone" required="true" placeholder="Numero" />
    <button type="submit" name="Login" value="Registrar" class="login-submit">Registrar</button>
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>

</body>
</html>
