<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos</title>
</head>
<body>
    <form action="/login" method="post">
        usuario
        <input type="text" name="user">
        contraseña
        <input type="text" name="pass">
        <button>inicia</button>
    </form>
    <% if (error) { %>
        <h1><%= error %>!</h1>
      <% } %>
</body>
</html>