<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index_style.css">
    <link rel="stylesheet" href="css/indexbody.css">
    <link rel="stylesheet" href="css/footer-style.css">
    <script src="https://kit.fontawesome.com/a2b25edcff.js" crossorigin="anonymous"></script>
    <title>Prestafacil</title>
</head>
<body>
    <% if (message) { %>
        <h1 class="nose"><%= message %>!</h1>
      <% } %>

<div class="container-icon">
    <div class="icons">
        <a>
        <form action="/user" method="post">
            <h1 class="inicio">USUARIO</h1>
            <i class="fa-solid fa-user"></i>
            <button class="options-button">USUARIO</button>
        </form>
       </a>

       <a>
        <form action="/loans" method="post">
            <h1 class="prestamo" >PRESTAMOS</h1>
            <i class="fa-solid fa-money-bill"></i>
            <button class="options-button">prestamos</button>
        </form>
        </a>

        <a>
        <form action="/reports" method="post">
            <h1 class="reportes" >REPORTES</h1>
            <i class="fa-solid fa-bell"></i>
            <button class="options-button">reportes</button>
        </form>
        </a>

    </div>
</div>
</body>
</html>