<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestafacil</title>
</head>
<body>
    <H1>GANANCIAS</H1>
    <% if (info === 0) { %>
        <h1>No hay ganancias recolectadas.</h1>
      <% } else { %>
        <h1><%= info %>!</h1>
      <% } %>
</body>
</html>